[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.11.1"
todoist-python = "==7.0.13"
tornado = "==4.4.1"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
