[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
todoist-python = "==7.0.16"
tornado = "==5.0.2"
maya = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
